body {
    background: blanchedalmond;
    font-family: "Montserrat";
}
h1, h2, h3 {
    font-family: "Montserrat-Bold";
  }
  h1, h3 {
      color: rgb(58, 110, 179);
  }
  h4 {
    font-size: large;
      font-family: "Montserrat-Bold";
      font-style: oblique;
     
  }
  p {
    color: #882121;
  }
  
    img {
    height: 324px;
   position: relative;

}
.buttons {
    margin-inline-start: 10%;
    padding-top: 25px;
}
table {
    margin: 5px;
   text-align: justify;
}
.container-fluid{
    padding: 7% 15%;
  }


#image {
    margin-left: 45%;
}